
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    border-radius: 5px;
    transition: 0.3s ease;
    transition-property: background-color, color;
}

.cta:hover{
    color: white;
    background-color: crimson;
    font-weight: 700;
}

.section-title{
    font-size: 2rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}



/*------------------------------------------ Header section ---------------------------------------------*/

#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header{
    max-width: 1600px;
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: 0.4s ease background-color;
}

#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

.nav-logo{
    font-family: 'Sacramento', cursive;
    color: white!important;
}

#header .nav-logo h1{
    font-weight: 600;
}

#header .brand a{
    text-decoration: none;
}

#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgba(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
}

#header .nav-list ul.active{
    left: 0;
}

#header .nav-list ul a{
    font-size: 5vh;
    font-weight: 500;
    /* letter-spacing: 0.2rem; */
    text-decoration: none;
    margin: 20px 15px;
    padding: 5px;
    display: block;
    color: white;
}

#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 12rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a{
    color: crimson;
}

#header .hamburger{
    height: 60px;
    width: 60px;
    z-index: 100;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    position: relative;
    transform: scale(0.8);
    margin-right: 20px;
}

#header .hamburger::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 80%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after, #header .hamburger .bar::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after{
    top: 8px;
}

#header .hamburger .bar::before{
    bottom: 8px;
}

#header .hamburger.active .bar::after{
    top: 0;
}

#header .hamburger.active .bar::before{
    bottom: 0;
}




/*------------------------------------------- Hero section ---------------------------------------------*/

#hero{
    background-image: url(../Images/hero-bg.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1{
    display: block;
    font-size: 2.5rem;
    font-weight: 600;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1){
    animation-delay: 1s;
}

#hero h1:nth-child(2){
    animation-delay: 2s;
}

#hero h1:nth-child(3){
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}

#hero h1:nth-child(1) span{
    animation-delay: 0.5s;
}

#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}

#hero .cta{
    font-weight: 600;
}

.hero.container a{
    text-decoration: none;
}





/*-------------------------------------- Service section ---------------------------------------------*/

#services .service{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}


#services .service-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    margin-left: 8%;
    margin-right: 8%;
}

#services .service-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(../Images/img-1.png);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#services .service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #080b11 0%, #5f6979 100%);
    opacity: 0.7;
    z-index: -1;
}

#services .service-bottom .icon{
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
}

#services .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p{
    color: white;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}





/*-------------------------------------- Project section ---------------------------------------------*/

#projects .project{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}


#projects .project-header{
    margin-bottom: 50px;
}

#projects .all-project{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    color: white;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #0e1218 0%, #5f6979 100%);
}

#projects .project-info a{
    text-decoration: none;
}

#projects .project-info h1{
    padding: 2px;
    font-size: 2.2rem;
    font-weight: 600;
    color: white;
}

#projects .project-info h1:hover{
    color: black;
    background-color: white;
    border-radius: 10px;
}

#projects .project-info h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info p{
    margin-top: 10px;
}

#projects .project-img{
    flex-basis: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#projects .project-img::after{
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #0e1218 0%, #5f6979 100%);
    opacity: 0.7;
}

#projects .project-img img{
    transition: 0.3s ease transform;
}

#projects .project-item:hover .project-img img{
    transform: scale(1.1);
}





/*------------------------------------------ About section ---------------------------------------------*/

#about .about{
    display: flex;
    flex-direction: row;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

#about .col-left{
    width: 250px;
    margin: 20px;
}

#about .col-right{
    text-align: left;
    width: 100%;
}

#about .col-right h2{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}

#about .col-right p{
    margin-bottom: 20px;
}

#about .col-right .cta{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    padding: 10px 20px;
    margin-bottom: 30px;
    text-decoration: none;
    border-radius: 5px;
}

#about .col-right .cta:hover{
    color: white;
}

#about .col-left .about-img{
    position: relative;
    border: 10px solid white;
    height: 100%;
    width: 100%;
}

#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 25px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}





/*------------------------------------------ Contact section ---------------------------------------------*/


#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px auto;
}

#contact .contact-items{
    display: flex;
    flex-direction: row;
    width: 90%;
}

#contact .contact-item{
    width: 80%;
    padding: 30px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 0 #104263;
    transition: .3s ease box-shadow;
}

#contact .contact-item:hover{
    box-shadow: 0 0 25px 0 #596f7e;
}

#contact .icon{
    display: flex;
    width: 80px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
}




/*------------------------------------------ Footer section ---------------------------------------------*/

#footer{
    background-image: linear-gradient(60deg, #0e1218 0%, #5f6979 100%);
}

#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 10px;
    margin-top: 80px;
}

.brand h1{
    font-size: 2rem;
    color: white;
}

#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 8px;
    letter-spacing: 0.1rem;
}

#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
}

#footer .social-item{
    width: 50px;
    margin: 0 5px;
}

#footer p{
    color: white;
    font-size: 1rem;
}




/*------------------------------------------ keyFrames section ---------------------------------------------*/

@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.5);
    }
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color: white;
    }
}

@keyframes text_reveal_name{
    100%{
        color: crimson;
        font-weight: 600px;
    }
}



/*------------------------------------------ Media section ---------------------------------------------*/

@media only screen and (min-width:786px){

    .cta{
        font-size: 1.5rem;
        padding: 20px 60px;
    }

    h1.section-title{
        font-size: 2.5rem;
    }

    #hero h1{
        font-size: 3rem;
    }

    #services .service-bottom .service-item{
        flex-basis: 45%;
        margin: 25px;
    }

    /* #projects .project{
        padding: 100px 0 50px;
    } */

    #projects .all-project{
        margin: auto 30px;
    }

    /* #projects .project-item{
        flex-direction: row;
    } */

    #projects .project-item:nth-child(2){
        flex-direction: row-reverse;
    }

    #projects .project-item{
        height: 400px;
        /* margin-bottom: 10px;
        width: 100%; */
    }

    #project .all-project .project-info{
        height: 100%;
    }

    #project .all-project .project-img{
        height: 100%;
    }

    #about .col-left{
        width: 500px;
        padding-left: 60px;
        padding-right: 10px;
    }

    #about .col-right{
        padding: 30px;
    }
    
    #about .col-right h1{
        text-align: left;
    }

    #contact .contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        /* margin: 50px auto 80px; */
    }

    #contact .contact-items{
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    .brand h1{
        font-size: 3rem;
    }

    #footer .footer{
        padding-top: 20px;
        padding-bottom: 10px;
        margin-top: 0;
    }

    #footer h2{
        font-size: 1.8rem;
    }

    #footer .social-item{
        width: 60px;
    }
}





@media only screen and (min-width:1200px) {
    #header .hamburger{
        display: none;
    }

    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul a::after{
        display: none;
    }

    #header .nav-list ul a{
        font-size: 1.4rem;
    }

    #header .nav-list ul li{
        display: inline-block;
    }

    .nav-link {
        font-family: "Ubuntu";
        color: white!important;
    }
    
    .nav-link:hover{
        color: #0e1218!important;
        background-color: white;
        border-radius: 10px;
    }
    
    .nav-link:hover span{
        color: crimson;
    }
}







@media only screen and (max-width:1080px){

    #services .service-bottom{
        max-width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }

    #services .service-item{
        min-height: 550px;
        margin: 50px 0;
    }

    #projects .project{
        width: 100%;
        padding: 10px 0 0;
    }

    #projects .all-project{
        margin: 10px 0;
    }

    #projects .project-header{
        margin: 0;
    }
    #projects .project-item{
        height: 800px;
        display: flex;
        flex-direction: column;
    }

    #projects .project-item:nth-child(2){
        flex-direction: column;
    }

    #projects .project-img, #projects .project-info{
        width: 100%;
        flex-basis: 50%;
        overflow: hidden;
        position: relative;
    }

    #projects .project-info{
        min-height: 40%;
    }

    #projects .project-img{
        min-height: 60%;
    }

    #about .about{
        flex-direction: column-reverse;
        margin: 0 auto;
        padding: 10px 20px 0;
    }

    #about .col-right{
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #about .col-right p{
        width: 80%;
        margin-bottom: 20px;
    }

    #contact .contact{
        margin: 50px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #contact .contact-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    #contact .contact-item{
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #footer .footer{
        padding-top: 50px;
        padding-bottom: 10px;
        margin-top: 0;
    }

    #footer h2{
        font-size: 1.8rem;
    }

    #about .col-left .about-img::after{
        top: 35px;
    }
}
